.wrapper {
    // width: 1920px;
    max-width: 100%;
    margin: 0 auto;
   
}

.container {
    max-width: 1194px;
    width: 90%;
    margin: 0 auto;
}

html{

    scroll-behavior:smooth;
}

.box-shadow {

    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px 2px;
}

main {
    
    margin-top: 80px;
}