.myHeader{
    // max-width: 1920px;
    width: 100%;
    position: fixed;
    top:0;
    z-index: 100;
    background-color: $white;
    
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

    #toggle {
        display: none;
        background: #487eb0;
        color: $white;
        padding: 10px;
        font-size: var(--fz-5);
        font-weight: var(--fw-5);
        cursor: pointer;
    }
    
    .logo {
        width: 60px;
        height: 60px;
        background-color: $color-3;
        text-align: center;
        border-radius: 10px;
        &-text {
            color: $color-1;
            font-family: $font-Roboto;
            font-size: var(--fz-4);
            font-weight: var(--fw-5);
            line-height: 60px;
        }
    }
    &-nav {  
        &-list {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 40px;
        }
        &-item {
            font-family: $font-Montserrat;
            font-size: var(--fz-1);
            font-weight: var(--fw-2);
            line-height: 18px;
            text-align: center;
            a {
                color: $black;
            }
            a:hover{
                font-weight: bold;
                opacity: 0.9;
                color: $color-3;
                transition: all 0.3s;
            }
        }
        &-item:last-child{
            padding-left:15px;
        }
        .cart-quantity {
            padding: 4px 10px 4px 10px;
            margin-left: 10px;
            border-radius: 100%;
            background-color: $black;
            color: $white;
        }

       
    }
}
.overlay{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: 	rgba(0,0,0,0.2);
    z-index: 2;
}

#toggle {
    z-index: 100;
}