@media screen and (max-width: 992px) {
    .header{
        &-nav{
            &-list{
                gap:20px;
            }
        }
    }
    .product {
       
        &-nav{
            display: block;
            overflow-y: hidden;
            overflow-x: scroll;
            &-list{
                justify-content: start;
                gap: 99px;
            }
            &-item{
                font-size: var(--fz-2);
                font-weight: var(--fw-1);
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        &-nav {
            position: absolute;
            top: -800px;
            width: 50%;
            right: 0;
            box-shadow: 0 5px 5px 5px rgb(0, 0, 0, 30%);
            transition: 0.6s;
            overflow: hidden;
            z-index: 10;
            &-list {
                flex-direction: column;
                text-align: center;
                background: #487eb0;
            }
            &-item {
                padding: 10px;
            }
            &-item:hover {
                text-decoration: underline;
                transition: all 0.3s;
                background: $color-1;
                color: $white;
                font-weight: bold;
                border-radius: 5px;
            }
        }
        #toggle {
            display: block;
        }
    }
    .active {
        top: 80px;
        overflow: visible;
        transition: 0.6s;
    }
    .swiper {
        &-slide {
            &-heading {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }
            &-content {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
        }
    }

    .feature {
        &-list {
            display: grid;
            grid-template-areas:
                "f2 f2 f3 f3"
                "f2 f2 f1 f1"
                "f2 f2 f4 f4";
        }
    }

    .product {

        &-list-card {
            grid-template-columns: 1fr 1fr;
        }
    }

    .about{
        &-text{
            &-content{
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 8;
                -webkit-box-orient: vertical;
            }
        }
    }

    .footer {
        &-form {
            width: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-center {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            margin: 60px 0;
            width: 90%;
            height: auto;

            &-mid {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                &__right {
                    padding: 32px 0;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .header {
        &-nav {
            width: 100%;
        }
    }
    .feature {    
        &-list {
            display: grid;
            grid-template-areas:
                "f1"
                "f2"
                "f3"
                "f4";
        }
    }
    .product {
        &-nav {
            &-item {
                a {
                    color: $black;
                }
                &-underline {
                    margin-top: 1px;
                   
                }
            }
        }

        &-list-card {
            grid-template-columns: 1fr;
        }
    }
    
    .about{
        &-text{
            &-content{
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 8;
                -webkit-box-orient: vertical;
            }
        }
    }
    .footer {
        &-form {
            width: 80%;
           
        }
        &-group {
            width: 100%;
            &-input {
                padding: 0 20px;
            }
            &-btn {
                &-signup {
                    padding: 0 20px;
                    margin-left: auto;
                }
                
            }

           
        }
    }
}
