.about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $color-2;
    margin-top: 75px;
    text-align: center;
    max-height: 900px;
    min-height: 350px;
    height: 47vw;
   
    &-text {

        &-heading {
            font-family: $font-Montserrat;
            font-size: var(--fz-5);
            font-weight: var(--fw-5);
            line-height: 39px;
            text-align: center;
        }

        &-content {
            width: 30%;
            margin-top: 32px;
            font-family: $font-Roboto;
            font-size: var(--fz-1);
            font-weight: var(--fw-2);
            line-height: 18px;
            text-align: center;
        }
    }

    &-more {     
        width: 172px;
        height: 50px;
        margin-top: 32px;
        background-color: $color-btn;
        color: $color-text;
        font-family: $font-Roboto;
        font-weight: var(--fw-2);
        font-size: var(--fz-1);
        border-radius: 10px;
    }
}
