@media screen and (max-width: 992px) {
    .header{

        &-nav{

            &-item{

                font-size:var(--fz-0);
                font-weight: var(--fw-1);
                margin-right: 18px;
            }
        }
    }

    .swiper{

        &-slide{

            &-content{
                padding: 0 10px;
                left: 10vw;

                &__title{
                    font-size: var(--fz-5);
                    font-weight: var(--fw-3);
                }

                &__text {
                    width: 85%;
                    font-size: var(--fz-12);
                    font-weight: var(--fw-1);
                }
            }
        }

        &-button-next,
        &-button-prev  {
            color: $black;
        }
    }

    .feature{

        &-heading{
            font-size: var(--fz-4) ;
            font-weight: var(--fw-4);
        }
    }

    .product {
       
        &-nav{
            display: block;
            overflow-y: hidden;
            overflow-x: scroll;

            &-list{
                justify-content:space-around;
                gap: 99px;
                margin: 0  10px;
            }

            &-item{
                font-size: var(--fz-1);
                font-weight: var(--fw-1);
            }
        }

        &-card {

            &__title {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }
        }
    }

    .about{
        min-height: 600px;

        &-text{

            &-content{
                width: 80%;
            }
        }
    }

    .footer{

        &-subcribe{

            &__button{
                font-size: var(--fz-1);
                font-weight: var(--fw-4);
            }
        }
    }
}

@media screen and (max-width: 768px) {

    .header {

        &-nav {
            position: fixed;
            top: 80px;
            bottom: 0;
            width: 70%;
            right: -800px;
            box-shadow: 0 5px 5px 5px rgb(0, 0, 0, 30%);
            transition: 0.6s;
            overflow: hidden;
            z-index: 2;
            background: #487eb0;    

            &-list {
                flex-direction: column;
                text-align: center;
            }

            &-item {
                margin: 0;
                padding: 15px;
                border-bottom: 1px solid  $white;
                width: 80%;
            }

            &-item:hover {
                border: 1px ridge $white;
                transition: all 0.3s;
                background: $color-1;
                color: $white;
                font-weight: bold;
                border-radius: 5px;
                border-bottom: 1px ridge $white;
            }

            &-item:last-child{
                margin: 0;
            }
        }

        #toggle {
            display: block;
        }
    }

    .active {
        right: 0;
        overflow: visible;
        transition: 0.6s;
    }

    .feature {
        
        &-heading{
            font-size: var(--fz-4) ;
            font-weight: var(--fw-4);
        }

        &-list {
            display: grid;
            grid-template-areas:
                "f2 f2 f3 f3"
                "f2 f2 f1 f1"
                "f2 f2 f4 f4";
        }
        
    }

    .product {

        &-heading{
            font-size: var(--fz-4) ;
            font-weight: var(--fw-4);
        }

        &-nav{

            &-list{
                white-space: nowrap;
                justify-content:space-between;
                gap: 50px;
                margin: 0  10px;
            }

            &-item{
                font-size: var(--fz-0);
                font-weight: var(--fw-1);
            }
        }

        &-list-card {
            grid-template-columns: 1fr 1fr;
        }
        
        &-card{

            &__title {
                font-size: var(--fz-2);
                font-weight: var(--fw-5);
            }
    
            &__subtitle {
                font-size: var(--fz-12);
                font-weight: var(--fw-1);
            }
        }
    }

    .about{

        &-text{

            &-heading {
                font-size: var(--fz-4);
                font-weight: var(--fw-4);
                line-height: normal;
            }

            &-content{
                margin-top: 25px;
                font-size: var(--fz-0);
                font-weight: var(--fw-2);
            }
        }

        &-more {
            margin-top: 25px;
            font-weight: var(--fw-2);
            font-size: var(--fz-0);
        }
    }

    .footer {

        &-form {
            width: 80%;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
            font-size: var(--fz-1);
            font-weight: var(--fw-3);
            }
        }

        &-subcribe{
            margin-top: 16px;
            display: flex;
            max-width: 616px;
            background-color: white;
            border-radius: 99px;
            overflow: hidden;
    
            &__input{
              font-size: var(--fz-12);
            }
    
            &__button{
                font-size: var(--fz-1);
                font-weight: var(--fw-4);
            }
    
        }

        &-center {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            margin: 60px 0;
            width: 90%;
            height: auto;

            &-left {
                font-size: var(--fz-2);
                font-weight: var(--fw-5);
            }

            &-mid {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;

                &__right {
                    padding: 32px 0;
                }
            }

            &-item{
                font-size: var(--fz-0);
                font-weight: var(--fw-3);
            }
        }
    }
}

@media screen and (max-width: 480px) {

    .header {

        &-nav {
            width: 100%;
        }
    }

    .swiper{

        &-slide{

            &-content{
                display: flex;
                align-items: center;
                flex-direction: column;
                padding: 0;

                &__title{
                    font-size: var(--fz-5);
                    font-weight: var(--fw-3);
                }

                &__text {
                    font-size: var(--fz-0);
                    font-weight: var(--fw-1);
                }
            }
        }

        &-button-next, 
        &-button-prev {
            display: none;
        }
    }

    .feature { 
        
        &-heading {
            font-size: var(--fz-2) ;
            font-weight: var(--fw-4);
        }
    
        &-list {
            display: grid;
            grid-template-areas:
                "f1"
                "f2"
                "f3"
                "f4";
                // width: 274px;
                height: 1200px;
        }
    }
    .product {

        &-heading {
            font-size: var(--fz-2);
            font-weight: var(--fw-4);
        }
        &-nav {

            &-item {

                a {
                    color: $black;
                }

                &-underline {
                    margin-top: 1px;            
                }

                font-size: var(--fz-1);
                font-weight: var(--fw-2);
            }
        }

        &-list-card {
            grid-template-columns: 1fr;
        }

        &-card {

            &__title {
                font-size: var(--fz-0);
                font-weight: var(--fw-4);
            }
        }
    }

    .footer {

        &-form {
            width: 80%;         
        }

        &-subcribe {
            width: 100%;
            
            &__input {
                padding: 0 20px;
                font-size: 12px;
            }

            &__button{
                background-color: $color-btn;
                color: $white;
                padding: 0 20px;
                font-size: var(--fz-12);
                font-weight: var(--fw-2);
            }
        }
    }
}