.slider {
    background-color: $color-2;
}

.swiper {
    width: 100%;
    background-color: $color-2;
   

    &-slide {
        height: 800px;
        .container {
            height: 100%;
            position: relative;
        }
        img {
            height: 100%;
            vertical-align: middle;
            width: 100%;
            object-fit: cover;
        }

        &-content {
            position: absolute;
            top: 316px;
            // left: 87px;
            left: 5.6vw;
            right: 0;

            &__title {
                font-family: $font-Montserrat;
                font-size: var(--fz-6);
                font-weight: var(--fw-5);
                line-height: 1.23;
                margin-bottom: 16px;
            }

            &__text {
                max-width: 487px;
                font-family: $font-Roboto;
                font-size: var(--fz-1);
                font-weight: var(--fw-2);
                line-height: 1.2;
            }
        }
    }

    &-button-next, 
    &-button-prev {
        color: $black;
        &:hover {
            cursor: pointer;
        }
    }
    &-pagination-bullet {
        width: 10px;
        height: 10px;
        background-color: $color-2;
        border: 1.5px solid $black;
        opacity: 1;
    }

    &-pagination-bullet-active {
        margin-bottom: 32px;
        background-color: $black;
        color: $black;
        border: 2px solid $black;
    }

    &-pagination {
        margin-bottom: 22px;
    }
}
