html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  border: none;
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

ul {
  list-style: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

:root {
  --fz-12:12px;
  --fz-0:14px;
  --fz-1: 15px;
  --fz-2: 16px;
  --fz-3: 18px;
  --fz-4: 20px;
  --fz-5: 32px;
  --fz-6:48px;
  --fw-1: 300;
  --fw-2: 400;
  --fw-3: 500;
  --fw-4: 600;
  --fw-5: 700;
}

body {
  --spacing:10px ;
}

html {
  scroll-behavior: smooth;
}

main {
  margin-top: 80px;
}

.wrapper {
  max-width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1194px;
  width: calc(100% - 30px);
  margin: 0 auto;
}

.swiper-container {
  position: absolute;
  top: 50%;
  right: 50%;
  z-index: 10;
  transform: translate(50%, -50%);
}
.swiper-container .btn-container {
  position: relative;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px 2px;
}

.myHeader {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #ffffff;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.header #toggle {
  display: none;
  background: #487eb0;
  color: #ffffff;
  padding: 10px;
  font-size: var(--fz-5);
  font-weight: var(--fw-5);
  cursor: pointer;
}
.header-nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-nav-item {
  font-family: "Montserrat", sans-serif;
  font-size: var(--fz-1);
  font-weight: var(--fw-2);
  margin-right: 40px;
  line-height: 18px;
  text-align: center;
}
.header-nav-item a {
  color: #000000;
}
.header-nav-item a:hover {
  font-weight: bold;
  opacity: 0.9;
  color: #C4C4C4;
  transition: all 0.3s;
}
.header-nav-item:last-child {
  margin-left: 15px;
  margin-right: 0;
}
.header-nav .cart-quantity {
  padding: 4px 10px 4px 10px;
  margin-left: 10px;
  border-radius: 100%;
  background-color: #000000;
  color: #ffffff;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

#toggle {
  z-index: 100;
}

.slider {
  background-color: #E1E1E1;
}

.swiper {
  width: 100%;
  background-color: #E1E1E1;
}
.swiper-slide {
  height: 800px;
}
.swiper-slide .container {
  height: 100%;
  position: relative;
}
.swiper-slide img {
  height: 100%;
  vertical-align: middle;
  width: 100%;
  object-fit: cover;
}
.swiper-slide-content {
  position: absolute;
  top: 316px;
  left: 6.4vw;
  right: 0;
}
.swiper-slide-content__title {
  font-family: "Montserrat", sans-serif;
  font-size: var(--fz-6);
  font-weight: var(--fw-5);
  line-height: 1.23;
  margin-bottom: 16px;
}
.swiper-slide-content__text {
  max-width: 487px;
  font-family: "Roboto", sans-serif;
  font-size: var(--fz-1);
  font-weight: var(--fw-2);
  line-height: 1.2;
}
.swiper-button-next, .swiper-button-prev {
  color: #000000;
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #E1E1E1;
  border: 1.5px solid #000000;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  margin-bottom: 32px;
  background-color: #000000;
  color: #000000;
  border: 2px solid #000000;
}
.swiper-pagination {
  margin-bottom: 22px;
}

.feature {
  margin-top: 86px;
}
.feature-heading {
  font-family: "Montserrat", sans-serif;
  font-size: var(--fz-5);
  font-weight: var(--fw-5);
  line-height: 39px;
  text-align: center;
}
.feature-list {
  display: grid;
  grid-template-areas: "f2 f2 f1 f3" "f2 f2 f4 f4";
  min-height: 580px;
  gap: 32px;
  margin-top: 32px;
}
.feature-list > div {
  background-color: #E1E1E1;
  font-size: 30px;
  border-radius: 10px;
}
.feature-item:nth-child(1) {
  grid-area: f2;
}
.feature-item:nth-child(2) {
  grid-area: f1;
}
.feature-item:nth-child(3) {
  grid-area: f3;
}
.feature-item:nth-child(4) {
  grid-area: f4;
}

.product {
  margin-top: 150px;
}
.product-heading {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: var(--fz-5);
  font-weight: var(--fw-5);
  line-height: 39px;
  text-align: center;
}
.product-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  margin-top: 32px;
  background-color: #E1E1E1;
  border-radius: 10px;
}
.product-nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 128px;
  height: 100%;
}
.product-nav-item {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: var(--fz-3);
  font-weight: var(--fw-2);
}
.product-nav-item:first-child a {
  color: #000000;
  font-weight: bold;
}
.product-nav-item a {
  color: #656565;
}
.product-nav-item-underline {
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
  background-color: black;
}
.product-list-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 311px 311px;
  gap: 33px;
  margin-top: 32px;
}
.product-card__img {
  height: 247px;
  border-radius: 10px;
  background-color: #E1E1E1;
  margin-bottom: 16px;
  font-weight: bold;
}
.product-card__title {
  color: #404040;
  font-family: "Montserrat", sans-serif;
  font-size: var(--fz-4);
  font-weight: var(--fw-5);
  line-height: 26px;
}
.product-card__subtitle {
  margin-top: 4px;
  color: #404040;
  font-family: "Montserrat", sans-serif;
  font-size: var(--fz-1);
  font-weight: var(--fw-2);
  line-height: 18px;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #E1E1E1;
  margin-top: 75px;
  text-align: center;
  max-height: 900px;
  min-height: 350px;
  height: 47vw;
}
.about-text-heading {
  font-family: "Montserrat", sans-serif;
  font-size: var(--fz-5);
  font-weight: var(--fw-5);
  line-height: 39px;
  text-align: center;
}
.about-text-content {
  width: 30%;
  margin-top: 32px;
  font-family: "Roboto", sans-serif;
  font-size: var(--fz-1);
  font-weight: var(--fw-2);
  line-height: 18px;
  text-align: center;
}
.about-more {
  width: 172px;
  height: 50px;
  margin-top: 32px;
  background-color: #333333;
  color: #F2F2F2;
  font-family: "Roboto", sans-serif;
  font-weight: var(--fw-2);
  font-size: var(--fz-1);
  border-radius: 10px;
}

.footer {
  background-color: #404040;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.footer hr {
  width: 100%;
}
.footer-form {
  width: 616px;
  max-width: 100%;
  padding: 64px 0;
  display: flex;
  flex-direction: column;
  border: none;
}
.footer-form p {
  font-family: "Poppins", sans-serif;
  font-size: var(--fz-3);
  font-weight: var(--fw-5);
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
.footer-subcribe {
  margin-top: 16px;
  display: flex;
  max-width: 616px;
  background-color: white;
  border-radius: 99px;
  overflow: hidden;
}
.footer-subcribe__input {
  display: flex;
  flex: 1;
  min-height: 48px;
  padding-left: calc(4 * var(--spacing));
  border-radius: 99px;
  border: none;
  outline: none;
}
.footer-subcribe__button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 48px;
  height: 100%;
  padding: 0 40px;
  font-family: "Poppins", sans-serif;
  font-size: var(--fz-1);
  font-weight: var(--fw-4);
  background-color: white;
  border-radius: 99px;
  border: none;
  transition: 0.3s;
}
.footer-subcribe__button:hover {
  background-color: #333333;
  color: white;
}
.footer-center {
  border: none;
  display: flex;
  justify-content: space-between;
  margin: 64px 0;
  width: 938px;
  max-width: 100%;
  padding: 0 20px;
}
.footer-center-left a {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: var(--fz-5);
  font-weight: var(--fw-5);
}
.footer-center-mid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 158px;
}
.footer-center-mid__left {
  display: flex;
  flex-direction: column;
}
.footer-center-mid__right {
  display: flex;
  flex-direction: column;
}
.footer-center-item:nth-child(1) {
  color: #9D9D9D;
  font-family: "Montserrat", sans-serif;
  font-weight: var(--fw-2);
  font-size: var(--fz-1);
  margin-bottom: 32px;
}
.footer-center-item {
  margin-bottom: 16px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: var(--fz-1);
  font-weight: var(--fw-3);
}
.footer-center-item:last-child {
  margin-bottom: 0;
}
.footer-center-right {
  display: flex;
}
.footer-center-right .circle {
  width: 32px;
  height: 32px;
  margin: 0 12px;
  border: 2px solid #fff;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.footer-bottom p {
  margin: 32px 0;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: var(--fz-1);
  font-weight: var(--fw-2);
  text-align: center;
}

@media screen and (max-width: 992px) {
  .header-nav-item {
    font-size: var(--fz-0);
    font-weight: var(--fw-1);
    margin-right: 18px;
  }
  .swiper-slide-content {
    padding: 0 10px;
    left: 10vw;
  }
  .swiper-slide-content__title {
    font-size: var(--fz-5);
    font-weight: var(--fw-3);
  }
  .swiper-slide-content__text {
    width: 85%;
    font-size: var(--fz-12);
    font-weight: var(--fw-1);
  }
  .swiper-button-next, .swiper-button-prev {
    color: #000000;
  }
  .feature-heading {
    font-size: var(--fz-4);
    font-weight: var(--fw-4);
  }
  .product-nav {
    display: block;
    overflow-y: hidden;
    overflow-x: scroll;
  }
  .product-nav-list {
    justify-content: space-around;
    gap: 99px;
    margin: 0 10px;
  }
  .product-nav-item {
    font-size: var(--fz-1);
    font-weight: var(--fw-1);
  }
  .product-card__title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .about {
    min-height: 600px;
  }
  .about-text-content {
    width: 80%;
  }
  .footer-subcribe__button {
    font-size: var(--fz-1);
    font-weight: var(--fw-4);
  }
}
@media screen and (max-width: 768px) {
  .header-nav {
    position: fixed;
    top: 80px;
    bottom: 0;
    width: 70%;
    right: -800px;
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.3);
    transition: 0.6s;
    overflow: hidden;
    z-index: 2;
    background: #487eb0;
  }
  .header-nav-list {
    flex-direction: column;
    text-align: center;
  }
  .header-nav-item {
    margin: 0;
    padding: 15px;
    border-bottom: 1px solid #ffffff;
    width: 80%;
  }
  .header-nav-item:hover {
    border: 1px ridge #ffffff;
    transition: all 0.3s;
    background: #666666;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    border-bottom: 1px ridge #ffffff;
  }
  .header-nav-item:last-child {
    margin: 0;
  }
  .header #toggle {
    display: block;
  }
  .active {
    right: 0;
    overflow: visible;
    transition: 0.6s;
  }
  .feature-heading {
    font-size: var(--fz-4);
    font-weight: var(--fw-4);
  }
  .feature-list {
    display: grid;
    grid-template-areas: "f2 f2 f3 f3" "f2 f2 f1 f1" "f2 f2 f4 f4";
  }
  .product-heading {
    font-size: var(--fz-4);
    font-weight: var(--fw-4);
  }
  .product-nav-list {
    white-space: nowrap;
    justify-content: space-between;
    gap: 50px;
    margin: 0 10px;
  }
  .product-nav-item {
    font-size: var(--fz-0);
    font-weight: var(--fw-1);
  }
  .product-list-card {
    grid-template-columns: 1fr 1fr;
  }
  .product-card__title {
    font-size: var(--fz-2);
    font-weight: var(--fw-5);
  }
  .product-card__subtitle {
    font-size: var(--fz-12);
    font-weight: var(--fw-1);
  }
  .about-text-heading {
    font-size: var(--fz-4);
    font-weight: var(--fw-4);
    line-height: normal;
  }
  .about-text-content {
    margin-top: 25px;
    font-size: var(--fz-0);
    font-weight: var(--fw-2);
  }
  .about-more {
    margin-top: 25px;
    font-weight: var(--fw-2);
    font-size: var(--fz-0);
  }
  .footer-form {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-form p {
    font-size: var(--fz-1);
    font-weight: var(--fw-3);
  }
  .footer-subcribe {
    margin-top: 16px;
    display: flex;
    max-width: 616px;
    background-color: white;
    border-radius: 99px;
    overflow: hidden;
  }
  .footer-subcribe__input {
    font-size: var(--fz-12);
  }
  .footer-subcribe__button {
    font-size: var(--fz-1);
    font-weight: var(--fw-4);
  }
  .footer-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 60px 0;
    width: 90%;
    height: auto;
  }
  .footer-center-left {
    font-size: var(--fz-2);
    font-weight: var(--fw-5);
  }
  .footer-center-mid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .footer-center-mid__right {
    padding: 32px 0;
  }
  .footer-center-item {
    font-size: var(--fz-0);
    font-weight: var(--fw-3);
  }
}
@media screen and (max-width: 480px) {
  .header-nav {
    width: 100%;
  }
  .swiper {
    height: 600px;
  }
  .swiper-slide-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    top: 200px;
  }
  .swiper-slide-content__title {
    font-size: var(--fz-5);
    font-weight: var(--fw-3);
  }
  .swiper-slide-content__text {
    font-size: var(--fz-0);
    font-weight: var(--fw-1);
  }
  .swiper-button-next, .swiper-button-prev {
    display: none;
  }
  .feature {
    margin-top: 56px;
  }
  .feature-heading {
    font-size: var(--fz-2);
    font-weight: var(--fw-4);
  }
  .feature-list {
    display: grid;
    grid-template-areas: "f1" "f2" "f3" "f4";
    height: 1200px;
  }
  .product {
    margin-top: 56px;
  }
  .product-heading {
    font-size: var(--fz-2);
    font-weight: var(--fw-4);
  }
  .product-nav-item {
    font-size: var(--fz-1);
    font-weight: var(--fw-2);
  }
  .product-nav-item a {
    color: #000000;
  }
  .product-nav-item-underline {
    margin-top: 1px;
  }
  .product-list-card {
    grid-template-columns: 1fr;
  }
  .product-card__title {
    font-size: var(--fz-0);
    font-weight: var(--fw-4);
  }
  .footer-form {
    width: 80%;
  }
  .footer-subcribe {
    width: 100%;
  }
  .footer-subcribe__input {
    padding: 0 20px;
    font-size: 12px;
  }
  .footer-subcribe__button {
    background-color: #333333;
    color: #ffffff;
    padding: 0 20px;
    font-size: var(--fz-12);
    font-weight: var(--fw-2);
  }
}

/*# sourceMappingURL=app.css.map */
